{% extends 'base.html.twig' %}

{% block title %}Argaunotes{% endblock %}

{% block body %}
    <main>
        <div class="formulaire">
            {{ include('membre/_form.html.twig', {'button_label':'Envoyer'}) }}
        </div>
        <div class="membres">
            {% for membre in membres %}
                <tr>
                    <div class="membre">
                        <td>{{ membre.name }}</td>
                    </div>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun Argaunote n'à été ajouté</td>
                </tr>
            {% endfor %}
        </div>
        <div>
            <img id="boat" src="/img/bateau.png" alt="image d'un bateau à voile">
        </div>
    </main>
{% endblock %}
